@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
* {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    

}
body{
    background-color: #242424;
}

header {
    color: white;
    
    height: 600px;

    
    background-color: black;
    
    
}
.titleBox{
    position: absolute;
    left: 650px;
    top: 100px;


}
.mainLogo{
    height: 300px;
    width:300px;
}
.logo{
    position: absolute;
    left: 200px;
    top: 100px;
}
.title{
    font-size: 6rem;
    margin-bottom: 10px;
}
.slogan {
    font-size: 2rem;
    margin-bottom: 10px;
}

.main{
    padding-top: 100px;
    color:white;
    background-color: #242424;
    display: flex;
    flex-direction: row;
    width:1500px;
    margin-inline: auto;

}
h1.genretitle{
    font-size: 5rem;
    font-weight: 900;

    
}
.categories{
    margin: 50px auto;

}
.category{
    display: inline-block;
    max-width: 150px;
    text-align: center;
    font-size: 2rem;
    margin: 10px;
    padding: 6px 16px;
    border: #1DB954 2px solid;
    border-radius: 50px;
    cursor: pointer;
}
div.selected{
    color: #242424;
    background-color: #1DB954;
}
.songs{
    width: 500px;
    margin: 50px auto;
    padding: 0;
    border: #1DB954 10px solid;
    border-radius: 20px;
}
.song{
    vertical-align: middle;
    background-color: none;
    width: 300px;
    height: 100px;
    float: right;
    display: flex;
    flex-direction: row;

}

.songName{
    font-weight: 700;
    font-size:1.3rem;
}
.artist{
    color: rgb(100, 100, 100);
}
.album{
    margin-top: 10px;
}

li{
    padding: 20px;
    background-color: #242424;
    margin: 0;
}
li:nth-child(even){
    background-color: black;
}

hr{
    width: 300px;
    float: right;
}
ol{
    list-style-position: inside;

}

.nothing{
    height: 730px;
    border-radius: 10px;
    display: flex;
    padding: 50px;
    
    background-color: lightslategrey;
}
.nothingText{
    position: relative;
    top:100px;
    font-size: 6rem;
}


li::marker{
    font-size: 5rem;
    font-weight: 1000;

}
.container{
    margin-top: 100px;
    width: 600px;
    height: 700px;
    margin-inline: auto;

    padding: 20px;
}


